
{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>


<ul class="list-group">
{% for post in posts %}
    <li class="list-group-item" > <a href="{% url 'details-post-and-reply' post.pk  %}" >
        {{ post.title }} </a>
        {% if post.author.first_name   %}
        by {{ post.author.first_name }} {{ post.author.last_name }}
        {% else %}
        by {{ post.author }}
        {% endif %}
        <br/>
        <!--{{ post.body|slice:':100' }} -->
        Posted on {{ post.created  }}
    </li>

{% endfor %}
</ul>




  {% endblock %}

{% block title %}
Legalty
{% endblock %}
